<div id="header-wrapper">
	<div id="header" class="container">
    <div id="menu">
      <h1><strong>Stem Outsource.</strong> Growing Business.</h1></br>
			<ul>
				<%= nav_link "Homepage", home_index_path %>
				<%= nav_link "Our Clients", statics_clients_path %>
				<%= nav_link "About Us", statics_about_path %>
				<%= nav_link "Careers", statics_careers_path %>
				<%= nav_link "Contact Us", statics_contact_path %>
			</ul>
		</div>
  </div>    
</div>